<h1>Draggable</h1>

<h2>Part 1 - draggable directive</h2>

<div class="box" appDraggable
  (dragStart)="onDragStart($event)"
  (dragMove)="onDragMove($event)"
  (dragEnd)="onDragEnd($event)">
  My box
</div>

<h2>Part 2 - movable directive</h2>

<div class="box" appMovable>
  My box 1
</div>

<div class="box" appMovable>
  My box 2
</div>

<h2>Part 3 - movable area</h2>

<div class="area" appMovableArea>
  <div class="box" appMovable *ngFor="let box of boxes">
    {{ box }}
  </div>
</div>

<button (click)="addBox()">Add</button>